<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>
      Comment faire une liste déroulante de pays, d'état et de ville avec l'API
      REST et jQuery | oujood.com
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="countrystatecity.js"></script>
  </head>
  <body>
    <div>
      <h2>
        Comment créer une liste déroulante de pays, d'état et de ville avec
        l'API REST et jQuery
      </h2>
      <form action="" method="post">
        <div>
          <h3>Pays</h3>
          <select name="Pays" class="pays " id="idPays">
            <option value="">Sélectionnez le pays</option>
          </select>
          <h3>État</h3>
          <select name="etat" class="etat " id="idEtat">
            <option value="">Sélectionner l'état</option>
          </select>
          <h3>Ville</h3>
          <select name="ville" class="ville " id="idVille">
            <option value="">Sélectionner la ville</option>
          </select>
        </div>
      </form>
    </div>
  </body>
</html>
